/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$test-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($test-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: #1c9247 !important;
  font-size: 12px !important;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #a9ffc9 !important;
  border-color: #1c9247 !important;
}
.mat-mdc-dialog-content {
  overflow: visible !important;
  max-height: none !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: transparent !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
}
